h1 {
  fontsize: 100px;
  color: #512d2d;
  text-decoration: line-through;
  text-transform: lowercase;
}

p {
  text-align: justify;
  text-transform: capitalize;
  word-spacing: 10px;
}
a {
  text-decoration: none;
}
