@font-face {
  font-family: "Alex Brush";
  src: url("Alexbrush-Regular.ttf") format("truetype");
}

h1 {
  font-size: 100px;
  text-align: center;
  font-family: "Alex Brush", sans-serif;
}
